@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.taskdone {
  text-decoration: line-through;
  text-decoration-thickness: 5px;

  
}

.tasknotdone {
  text-decoration: none;
}

.trash-align {

 margin-left: 1vw;
 transform: scale(1.5);
}
.div-container {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5vw;
  padding: 0.5vw;
  border: 1px solid black;
  border-radius: 0.5vw;
  background-color: #f5f5f5;
  box-shadow: 0 0 0.5vw 0.5vw #f5f5f5;
}

.main-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.taskfont {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 18px;
}



